{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "pluginSearchDirs": ["./node_modules"],
  "styled-components": {
    "displayName": true,
    "prettify": true 
  }
}
